# 1. Build and output directories
build/
build_hip/
tests/outputs/
tests/scripts/radmc_data_for_pinte/
codes/outputs/

# 2. Specific file types
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.dat
*.inp
*.npz
*.pkl
*.npy
*.pyc
*.pdf
*.eps
*.out
*.sizes
*.png
*.jpg

# 3. Other
*.o
*~